{% extends '@atomic_artsci/layout/header.html.twig' %}

{% block artsci_bar %}
  {# {% if logo_path and is_off_brand %} #}
    {# <div class="site-name">
      <a href="{{ path('<front>') }}"><img alt="{{ site_name }}" src ="{{ logo_path }}" /></a>
    </div> #}
  {# {% else %}
    {% include '@atomic_artsci/artsci/site-name.html.twig' with {
      'site_name': site_name,
      'site_url': path('<front>'),
    } %}
  {% endif %} #}

  {% if page.action_menu %}
    {{ page.action_menu }}
  {% endif %}

  {% if page.search %}
    {% include '@atomic_artsci/artsci/global/search-toggle.html.twig' with {
      'search_form': page.search,
    } %}
  {% endif %}

  {% if header_nav == 'toggle' %}
    {% include '@atomic_artsci/navigation/toggle-nav.html.twig' %}
  {% endif %}
{% endblock %}
