
@media screen and (max-width:768px) {
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.artsci-content:not(.artsci-search) .form-item{
    margin: 0;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.artsci-content:not(.artsci-search) .form-item:first-child {
    margin-top: 1rem;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.artsci-content:not(.artsci-search) .form-actions {
    margin-top: 1rem;
  }
  .block-views-blockareas-of-study-areas-of-study-block .views-exposed-form.artsci-content:not(.artsci-search) .js-form-item {
    flex: 100%;
  }
}

.block-views-blockareas-of-study-areas-of-study-block table p {
  margin-bottom: 0;
}
