:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #00558C;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, .125);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.paragraph--type--card .card__body .field--name-field-card-body h2, .paragraph--type--card .card__body .field--name-field-card-body h3, .paragraph--type--card .card__body .field--name-field-card-body h4, .paragraph--type--card .card__body .field--name-field-card-body h5, .paragraph--type--card .card__body .field--name-field-card-body h6 {
  color: #000000;
}
.paragraph--type--card .card__body .field--name-field-card-body blockquote {
  color: #000000;
  border-color: #BA0C2F;
}
.paragraph--type--card .card__body .field--name-field-card-body a:not(.btn):not(.bttn):not(.button) {
  color: initial;
}
.paragraph--type--card .card__body .field--name-field-card-body a:not(.btn):not(.bttn):not(.button) span {
  color: initial;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary {
  color: #fff;
  background: #BA0C2F;
  border: 1px solid #BA0C2F;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary i,
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary svg,
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary span[class*=fa-] {
  color: #fff;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #BA0C2F;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary:focus {
  text-decoration: underline;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary:hover::after, .paragraph--type--card .card__body .field--name-field-card-body a.btn-primary:focus::after {
  transform: translate(-50%, 0) scaleX(1);
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary:after {
  background-color: #000000;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn-primary span {
  color: #000000 !important;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary) {
  color: #fff;
  background: #000000;
  border: 1px solid #000000;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary) i,
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary) svg,
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary) span[class*=fa-] {
  color: #BA0C2F;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary):after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #BA0C2F;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary):focus {
  text-decoration: underline;
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary):hover::after, .paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary):focus::after {
  transform: translate(-50%, 0) scaleX(1);
}
.paragraph--type--card .card__body .field--name-field-card-body a.btn:not(.btn-primary) span {
  color: #fff !important;
}/*# sourceMappingURL=artsci-paragraphs-card.css.map */
