:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #BA0C2F;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.views-exposed-form {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 4rem;
  position: relative;
}
.views-exposed-form fieldset {
  border: 0;
  padding: 0;
}
.views-exposed-form fieldset.fieldgroup {
  padding: 0;
}
.views-exposed-form [type=checkbox] + label,
.views-exposed-form [type=radio] + label {
  font-weight: 400;
  flex-basis: 75%;
}
.views-exposed-form .form-type-checkbox {
  display: flex;
}
.views-form--stacked .views-exposed-form .form-actions {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.views-exposed-form.form:not(.artsci-search) label,
.views-exposed-form.form:not(.artsci-search) .fieldset-legend {
  font-size: 1rem;
}
.views-exposed-form.form:not(.artsci-search) .button {
  color: #fff;
  background: #000000;
  max-height: 3.45rem;
  padding: 1rem 1.25rem;
  font-size: clamp(0.9rem, 0.7887vw + 0.6042rem, 1.25rem);
}
.views-exposed-form.form:not(.artsci-search) .button i,
.views-exposed-form.form:not(.artsci-search) .button svg,
.views-exposed-form.form:not(.artsci-search) .button span[class*=fa-] {
  color: #BA0C2F;
}
@media (min-width: 980px) {
  .views-exposed-form.form:not(.artsci-search) .button {
    padding: 0.9rem 1.25rem 1.1rem;
  }
}
.views-exposed-form.form:not(.artsci-search) input[id^=edit-reset] {
  color: var(--brand-secondary);
  background: var(--brand-primary);
}
.views-exposed-form .button {
  border: 0;
}
.views-form--stacked .views-exposed-form .button {
  flex: 1;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form .button {
    flex-basis: 100%;
  }
}
.views-exposed-form .form--inline {
  align-items: flex-start;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .form--inline {
    display: flex;
    justify-content: flex-start;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]) .form--inline {
    flex-wrap: wrap;
  }
}
.views-exposed-form:not([class*=bef]) .form-actions {
  gap: 0.9rem;
  display: flex;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .form-actions {
    margin-top: 3.1em;
  }
}
.views-form--stacked .views-exposed-form:not([class*=bef]) .form-actions input[id^=edit-reset] {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.views-exposed-form:not([class*=bef]).form:not(.artsci-search) {
  padding: 5px 19px;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) {
  padding: 1rem 1.5rem;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) [type=text],
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) select {
  margin-bottom: 0;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item.form-type-checkbox {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions:not(:last-child),
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item:not(:last-child) {
    margin-right: 1em;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions:not(:last-child),
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item:not(:last-child) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions {
    margin-top: 3.1em;
  }
}
.views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions .button {
  flex: 1;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions .button {
    flex-basis: 100%;
  }
}
.views-exposed-form:not([class*=bef]) .button {
  color: #fff;
  background: #000000;
  border: 0;
}
.views-exposed-form:not([class*=bef]) .button i,
.views-exposed-form:not([class*=bef]) .button svg,
.views-exposed-form:not([class*=bef]) .button span[class*=fa-] {
  color: #BA0C2F;
}
.views-exposed-form:not([class*=bef]) .js-form-item {
  flex: auto 1 1;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .js-form-item {
    flex: 1;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]) .js-form-item {
    flex: 0 1 100%;
  }
}
.views-exposed-form:not([class*=bef]) .form-group {
  margin: 0 1rem 1rem;
}

.bg-black .pager__item.pager__item--ellipsis,
.bg-dark .pager__item.pager__item--ellipsis {
  color: #5d5656;
}
.bg-black .pager__item a,
.bg-dark .pager__item a {
  color: #BA0C2F;
}

.bg-yellow .pager__item a {
  color: #000000;
}
.bg-yellow .pager__item.is-active a {
  color: white;
}

.feed-icons .bttn {
  padding-left: 0;
  padding-right: 0;
}
.feed-icons .bttn svg,
.feed-icons .bttn span {
  margin-left: 0;
  margin-right: 0.325rem;
}

.views-field {
  line-height: 1.7;
  margin-top: 0;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .views--twocol--25-75 {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .views--twocol--25-75 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .views--twocol--25-75 .view-header {
    grid-column: 1/-1;
  }
  .views--twocol--25-75 .view-filters {
    grid-area: 2/1/6/2;
    min-width: 200px;
  }
  .views--twocol--25-75 .view-content,
  .views--twocol--25-75 .view-empty {
    grid-area: 2/2/6/5;
    min-width: 0;
  }
  .views--twocol--25-75 .pager.list-container__item--full {
    grid-area: 6/2/6/5;
  }
}
@media (min-width: 84.375em) {
  .views--twocol--25-75 {
    gap: 3rem;
  }
}/*# sourceMappingURL=views.css.map */
