:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.views-exposed-form {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 4rem;
  position: relative;
}
.views-exposed-form .form-item {
  margin: 0 0.5rem;
}
.views-exposed-form fieldset {
  border: 0;
  padding: 0;
}
.views-exposed-form fieldset.fieldgroup {
  padding: 0;
}
.views-exposed-form [type=checkbox] + label,
.views-exposed-form [type=radio] + label {
  font-weight: 400;
  flex-basis: 75%;
}
.views-exposed-form .form-type-checkbox {
  display: flex;
}
.views-form--stacked .views-exposed-form .form-actions {
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.views-exposed-form.form:not(.artsci-search) label,
.views-exposed-form.form:not(.artsci-search) .fieldset-legend {
  text-align: left;
  flex-basis: 20%;
  flex-shrink: 0;
  color: #000;
  font-family: var(--font-family-sans-serif);
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 1.35rem */
}
.views-exposed-form.form:not(.artsci-search) [type=text],
.views-exposed-form.form:not(.artsci-search) [type=search],
.views-exposed-form.form:not(.artsci-search) select {
  border: 1px solid #000000;
  border-radius: 6.25rem;
  box-shadow: none;
  padding: 0 1.25rem;
}
.views-exposed-form.form:not(.artsci-search) select {
  padding-right: 3rem;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="%23000000" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
  background-repeat: no-repeat;
  background-position: right 1.25rem center;
  margin-top: 1rem;
  margin-right: 1rem;
  background-size: 15px 15px;
  background-origin: border-box;
}
.views-exposed-form.form:not(.artsci-search) .button {
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  border: 2px solid #ba0c2f;
  border-radius: 6.25rem;
  background: none !important;
  color: #000000;
  max-height: 3.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  font-style: normal;
  line-height: 120%;
  text-transform: none;
}
.views-exposed-form.form:not(.artsci-search) .button:hover, .views-exposed-form.form:not(.artsci-search) .button:focus {
  color: #fff;
  background: #ba0c2f !important;
}
.views-exposed-form.form:not(.artsci-search) input[id^=edit-reset] {
  color: #000000;
  background: none;
}
.views-exposed-form.form:not(.artsci-search) input[id^=edit-reset]:hover, .views-exposed-form.form:not(.artsci-search) input[id^=edit-reset]:focus {
  color: #fff;
  background: #ba0c2f !important;
}
.views-exposed-form .button {
  border: 0;
}
.views-form--stacked .views-exposed-form .button {
  flex: 1;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form .button {
    flex-basis: 100%;
  }
}
.views-exposed-form .form--inline {
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-content: flex-start;
  flex-direction: row;
}

@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .form--inline {
    display: flex;
    justify-content: flex-start;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]) .form--inline {
    flex-wrap: wrap;
  }
}
.views-exposed-form:not([class*=bef]) .form-actions {
  gap: 0.9rem;
  display: flex;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .form-actions {
    margin-top: 3.1em;
  }
}
.views-form--stacked .views-exposed-form:not([class*=bef]) .form-actions input[id^=edit-reset] {
  width: 100%;
  display: flex;
  gap: 1.5rem;
}
.views-exposed-form:not([class*=bef]).form:not(.artsci-search) {
  padding: 5px 19px;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) {
  padding: 1rem 1.5rem;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) [type=text],
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) select {
  margin-bottom: 0;
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item.form-type-checkbox {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions:not(:last-child),
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item:not(:last-child) {
    margin-right: 1em;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions:not(:last-child),
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-item:not(:last-child) {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions {
    margin-top: 3.1em;
  }
}
.views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions .button {
  flex: 1;
}
@media (min-width: 768px) {
  .views-form--stacked .views-exposed-form:not([class*=bef]).form:not(.artsci-search) .form-actions .button {
    flex-basis: 100%;
  }
}
.views-exposed-form:not([class*=bef]) .button {
  color: #fff;
  background: var(--bg--teal);
}
.views-exposed-form:not([class*=bef]) .button i,
.views-exposed-form:not([class*=bef]) .button svg,
.views-exposed-form:not([class*=bef]) .button span[class*=fa-] {
  color: #fff;
}
.views-exposed-form:not([class*=bef]) .button:hover {
  background: #d4f1e7;
  color: black;
}
.views-exposed-form:not([class*=bef]) .button:hover i,
.views-exposed-form:not([class*=bef]) .button:hover svg,
.views-exposed-form:not([class*=bef]) .button:hover span[class*=fa-] {
  color: black;
}
.views-exposed-form:not([class*=bef]) .button {
  border: 0;
}
.views-exposed-form:not([class*=bef]) .js-form-item {
  flex: auto 1 1;
}
@media (min-width: 768px) {
  .views-exposed-form:not([class*=bef]) .js-form-item {
    flex: 1;
  }
  .views-form--stacked .views-exposed-form:not([class*=bef]) .js-form-item {
    flex: 0 1 100%;
  }
}
.views-exposed-form:not([class*=bef]) .form-group {
  margin: 0 1rem 1rem;
}

.bg-black .pager__item.pager__item--ellipsis,
.bg-dark .pager__item.pager__item--ellipsis {
  color: #5d5656;
}
.bg-black .pager__item a,
.bg-dark .pager__item a {
  color: #ba0c2f;
}

.feed-icons .bttn svg,
.feed-icons .bttn span {
  margin-left: 0;
  margin-right: 0.325rem;
}
.feed-icons .bttn {
  padding-left: 0;
  padding-right: 0;
}

.views-field {
  line-height: 1.7;
  margin-top: 0;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .views--twocol--25-75 {
    display: grid;
    grid-template-rows: auto;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .views--twocol--25-75 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  .views--twocol--25-75 .view-header {
    grid-column: 1/-1;
  }
  .views--twocol--25-75 .view-filters {
    grid-area: 2/1/6/2;
    min-width: 200px;
  }
  .views--twocol--25-75 .view-content,
  .views--twocol--25-75 .view-empty {
    grid-area: 2/2/6/5;
    min-width: 0;
  }
  .views--twocol--25-75 .pager.list-container__item--full {
    grid-area: 6/2/6/5;
  }
}
@media (min-width: 84.375em) {
  .views--twocol--25-75 {
    gap: 3rem;
  }
}

.view-id-people_list_block,
.view-id-events_list_block {
  background-color: rgba(0, 0, 0, 0.0392156863);
}

input#edit-submit-news-list-block {
  display: none;
}

.view-id-events.view-display-id-page_upcoming .views-exposed-form [type=text],
.view-id-events.view-display-id-page_upcoming .views-exposed-form [type=search],
.view-id-events.view-display-id-page_upcoming .views-exposed-form select {
  height: 3.25rem;
  border: 1px solid #b5b5b5;
  border-radius: 6.25rem;
  box-shadow: none;
  padding-left: 1.25rem;
}
.view-id-events.view-display-id-page_upcoming .views-exposed-form select {
  padding-right: 2.5rem;
  background-position: right 1.1rem center;
}
.view-id-events.view-display-id-page_upcoming .views-exposed-form .form-actions .button,
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-submit],
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-reset] {
  border: 2px solid #ba0c2f;
  border-radius: 6.25rem;
  background: transparent;
  color: #000000;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  padding: 0.85rem 1.5rem;
}
.view-id-events.view-display-id-page_upcoming .views-exposed-form .form-actions .button:hover, .view-id-events.view-display-id-page_upcoming .views-exposed-form .form-actions .button:focus,
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-submit]:hover,
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-submit]:focus,
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-reset]:hover,
.view-id-events.view-display-id-page_upcoming .views-exposed-form input[id^=edit-reset]:focus {
  color: #fff;
  background: #ba0c2f;
}

input.js-hide {
  display: none;
}

.views-exposed-form input.js-hide.button.js-form-submit.form-submit {
  display: none;
}
.views-exposed-form .form-checkboxes.bef-checkboxes {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.views-exposed-form input.event-date-picker.bef-datepicker.form-date {
  border-radius: 6.25rem;
  border: 2px solid #ba0c2f;
}
.views-exposed-form .js-form-item.form-item.js-form-type-radio.form-type-radio.js-form-item-people-research-areas.form-item-people-research-areas {
  display: inline-flex;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.view.view-book-list-block .card {
  align-items: center;
}

.people .card__subtitle,
.people .card__subtitle a {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: black;
  text-transform: none;
}

/*# sourceMappingURL=views.css.map */