{{ attach_library('atomic_artsci/search-toggle') }}
{{ attach_library('atomic_artsci/search') }}

<div class="search-wrapper">
    <div class="search-overlay" id="search-overlay" aria-hidden="true" aria-label="search tools for this site">
        {{ search_form }}
        {{ under_search }}
    </div>

  {% if uiowa_search_form %}
    {% include '@atomic_artsci/atomic/search-toggle--bttn.twig' %}
  {% endif %}

</div>
