:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.menu--quick-links {
  top: 1.3rem;
  left: 69%;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* stylelint-disable-next-line property-no-deprecated -- Added clip-path equivalent; keep clip here to override any 3rd-party stylesheets. */
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.menu--quick-links ul {
  list-style: none;
  margin: 0;
}
.menu--quick-links ul li {
  list-style: none;
  margin-right: 20px;
}
.menu--quick-links ul li i {
  color: #999;
  padding-right: 6px;
}
.menu--quick-links ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-size: 0.8rem;
  text-transform: uppercase;
  padding: 0;
}
.menu--quick-links ul li a:hover, .menu--quick-links ul li a:focus {
  text-decoration: underline;
}

.menu--quick-links .contextual {
  display: none;
}
.menu--quick-links li:first-child a::before {
  content: "\f02e";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 1.05rem;
  color: white;
}
.menu--quick-links li:nth-child(2) a::before {
  content: "\f007";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 1.05rem;
  color: white;
}

.region-under-search {
  transition: transform 0.4s;
}

@media (min-width: 980px) {
  .search-is-open .region-under-search .menu--quick-links {
    position: static !important;
    /* stylelint-disable-next-line property-no-deprecated -- Added clip-path equivalent; keep clip here to override any 3rd-party stylesheets. */
    clip: auto;
    clip-path: none;
    height: auto;
    width: auto;
    overflow: auto;
    white-space: normal;
    position: absolute !important;
  }
}

/*# sourceMappingURL=quick.css.map */