:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #00558C;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, .125);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

p,
dl,
ol,
ul,
blockquote,
pre,
table {
  font-weight: 400;
}

p {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.05rem;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

figcaption {
  font-size: 90%;
  line-height: 1.5;
}

figure img {
  display: inline-block;
  margin-bottom: 1.05rem;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1.05rem;
  white-space: pre;
  word-wrap: normal;
}

small {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.3;
}
small.small--inline {
  display: inline;
}

sup,
sub {
  font-size: 75%;
}

mark {
  background-color: #BA0C2F;
}

pre {
  font-family: "ivypresto-headline", "Georgia", serif;
  line-height: 1.5;
}

.is-small {
  font-size: 0.8rem;
}

.is-medium {
  font-size: 1.2rem;
}

.is-large {
  font-size: 1.6rem;
}

.margin-top {
  margin-top: 0.9rem;
}

.image {
  position: relative;
  display: block;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .element--two-column {
    -moz-column-count: 2;
         column-count: 2;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}

@media (min-width: 768px) {
  .element--three-column {
    -moz-column-count: 3;
         column-count: 3;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}

hr {
  border: 0;
  height: 0;
  clear: both;
  float: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.element--spacer-separator {
  clear: both;
  float: none;
  width: 100%;
  height: 0;
  border: 1px solid transparent;
  margin: 1.25rem 0;
}

.element--spacer-thin {
  border: 0;
  height: 0;
  clear: both;
  float: none;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.element--spacer-gold {
  clear: both;
  float: none;
  width: 100%;
  height: 0;
  border: 1px solid transparent;
  margin: 1.25rem 0;
}
.element--spacer-gold:after {
  content: "";
  display: block;
  width: 33%;
  height: 6px;
  margin: 0;
  background: #BA0C2F;
}
.element--spacer-gold--centered:after {
  margin: 0 auto;
}
[class*=bg-] .element--spacer-gold {
  border: none;
}
.bg-pattern--brain-reversed .element--spacer-gold:after, .bg--gold--pattern--brain .element--spacer-gold:after, .bg--gold .element--spacer-gold:after {
  background: #fff;
}

.artsci-component--bold-intro,
.element--bold-intro {
  font-family: "ivypresto-headline", "Georgia", serif;
  font-weight: 600;
  line-height: 1.3;
  font-size: 2.2rem;
  font-size: clamp(1.6rem, 1.3521vw + 1.093rem, 2.2rem);
  margin-top: 0;
}

.artsci-component--light-intro,
.element--light-intro {
  font-weight: 300;
  line-height: 1.4;
  font-size: 2.1rem;
  font-size: clamp(1.6rem, 1.1268vw + 1.1775rem, 2.1rem);
  margin-top: 0;
}

mark {
  background-color: #BA0C2F;
  padding: 0.1em;
}
mark.deletion {
  background-color: rgb(247.3909090909, 226.012987013, 220.7590909091);
}
mark::before, mark::after {
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
mark::before {
  content: " [highlight start] ";
}
mark::after {
  content: " [highlight end] ";
}
.bg--gold mark {
  background-color: #fff;
  color: #000000;
}
.bg--gold mark.deletion {
  background-color: #000000;
  color: #BA0C2F;
}

figure img {
  margin-bottom: 0;
}

.card figure {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
}
.card figure:not(:last-child) {
  margin-bottom: 0;
}

.lead {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.4;
}

.small {
  font-size: 80% !important;
  line-height: 1.3 !important;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.cke_editable div,
.text-formatted div:not([class*=element-]) {
  line-height: 1.7;
  font-size: 1.2rem;
  margin-bottom: 1.05rem;
}

.block-content--type-artsci-text-area div {
  line-height: 1.7;
  font-size: 1.2rem;
}

.element--light-intro > p,
.element--bold-intro > p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

hr {
  clear: both;
}

div.element--light-intro {
  margin-bottom: 1.05rem;
}

/**
* Temporary workaround for https://www.drupal.org/project/drupal/issues/3398223.
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
div.hr {
  clear: both;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

[class*=bg-] .element--spacer-separator,
[class*=bg-] [class*=bg-] .element--spacer-separator {
  border: 1px solid transparent;
}

[class*=bg-] .element--spacer-thin,
[class*=bg-] [class*=bg-] .element--spacer-thin {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

iframe {
  max-width: 100%;
}

.block-inline-blockartsci-text-area p:last-child,
.block-field-blocknodepagebody p:last-child,
.block-inline-blockartsci-collection p:last-child,
.block-field-blocknodearticlebody p:last-child,
.block-field-blocknodepersonbody p:last-child {
  margin-bottom: 0;
}

.element--two-column .field__item,
.element--three-column .field__item {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}/*# sourceMappingURL=paragraph.css.map */
