:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #00558C;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, .125);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.webform-submission-form input[size]:not([size="60"]) {
  width: inherit;
}
.webform-submission-form.form [type=checkbox][class*=webform-scale] + label[for], .webform-submission-form.form [type=radio][class*=webform-scale] + label[for], .webform-submission-form.form [type=radio] + label[for].webform-options-display-buttons-label {
  flex: none;
}
.webform-submission-form span.form-required {
  position: relative;
}
.webform-submission-form span.form-required:after {
  margin: 0 0.325rem;
  content: "*";
  color: #BD472A;
  vertical-align: middle;
}
.webform-submission-form .webform-options-display-two-columns div.form-item,
.webform-submission-form .webform-options-display-three-columns div.form-item {
  margin-bottom: 1rem;
}
.webform-submission-form .webform-options-display-one-column,
.webform-submission-form .webform-options-display-side-by-side,
.webform-submission-form .webform-options-display-buttons-horizontal,
.webform-submission-form .webform-options-display-buttons-vertical {
  margin-top: -0.5rem;
}
.webform-submission-form .webform-options-display-side-by-side .form-type-checkbox,
.webform-submission-form .webform-options-display-side-by-side .form-type-radio {
  display: inline-flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.webform-submission-form .fieldgroup {
  border: none;
  padding: 0;
}
.webform-submission-form .webform-element-help {
  background: #63666A;
  border: 2px solid #63666A;
}
.webform-submission-form .webform-element-help:hover, .webform-submission-form .webform-element-help:focus {
  border: 2px solid #00558C;
  background: #00558C;
}
.webform-submission-form .help-text,
.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: 0.9rem;
  line-height: 1.4;
  clear: both;
}
.webform-submission-form .webform-element-more--content {
  line-height: 1.6;
}
.webform-submission-form .description .webform-element-more {
  margin-top: 0.325rem;
  margin-block-start: 0.325rem;
}
.webform-submission-form .webform-type-checkboxes .form-type-checkbox label,
.webform-submission-form .webform-type-checkboxes .form-type-radio:not(.form-item-radios-buttons) label,
.webform-submission-form .webform-checkboxes-other .form-type-checkbox label,
.webform-submission-form .webform-checkboxes-other .form-type-radio:not(.form-item-radios-buttons) label,
.webform-submission-form .webform-type-radios .form-type-checkbox label,
.webform-submission-form .webform-type-radios .form-type-radio:not(.form-item-radios-buttons) label,
.webform-submission-form .webform-type-webform-radios-other .form-type-checkbox label,
.webform-submission-form .webform-type-webform-radios-other .form-type-radio:not(.form-item-radios-buttons) label {
  flex: 1;
}
.webform-submission-form .webform-type-checkboxes legend,
.webform-submission-form .webform-checkboxes-other legend,
.webform-submission-form .webform-type-radios legend,
.webform-submission-form .webform-type-webform-radios-other legend {
  margin-bottom: 0.325rem;
}
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper,
.webform-submission-form .webform-checkboxes-other .fieldset-wrapper,
.webform-submission-form .webform-type-radios .fieldset-wrapper,
.webform-submission-form .webform-type-webform-radios-other .fieldset-wrapper {
  margin-left: 0;
  margin-inline-start: 0;
}
.webform-submission-form .details-description {
  line-height: 1.6;
}
.webform-submission-form .webform-flexbox .webform-flex--container .form-actions [type=submit] {
  width: 100%;
  height: 57px;
}
.webform-submission-form .webform-terms-of-service-details {
  max-height: 80vh !important;
}
.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  display: block;
}
[class*=bg--gold] .webform-submission-form .webform-scale input:checked + label {
  border-color: #000000;
  background-color: #F3F3F3;
  color: #000000;
}
[class*=bg--black] .webform-submission-form .webform-scale input:checked + label {
  background-color: #ffe166;
}
.webform-submission-form .webform-scale input:checked:focus + label {
  box-shadow: 0 0 5px #cacaca;
}
.webform-submission-form .webform-button--next,
.webform-submission-form .webform-button--previous {
  color: #fff;
  background: #000000;
}
.webform-submission-form .webform-button--next i,
.webform-submission-form .webform-button--next svg,
.webform-submission-form .webform-button--next span[class*=fa-],
.webform-submission-form .webform-button--previous i,
.webform-submission-form .webform-button--previous svg,
.webform-submission-form .webform-button--previous span[class*=fa-] {
  color: #BA0C2F;
}
[class*=bg--black] .webform-submission-form .webform-button--next,
[class*=bg--black] .webform-submission-form .webform-button--previous {
  background: #F3F3F3;
  color: #000000;
}
.webform-submission-form .webform-progress-tracker .progress-text,
.webform-submission-form .webform-progress-tracker .progress-step.is-active .progress-text,
.webform-submission-form .webform-progress-tracker .progress-step.is-complete .progress-text {
  color: currentColor;
}
.webform-submission-form .webform-progress-tracker .progress-step .progress-marker:before {
  padding: 1rem;
}
.webform-submission-form .webform-progress-tracker .progress-step .progress-marker:after {
  top: 0.8rem;
}
.webform-submission-form .webform-progress-tracker .progress-step.is-active .progress-marker::before {
  background-color: #BA0C2F;
  color: #000000;
}
[class*=bg--gold] .webform-submission-form .webform-progress-tracker .progress-step.is-active .progress-marker::before {
  background: #000000;
  color: #fff;
}
.webform-submission-form .webform-horizontal-rule--thin, .webform-submission-form .webform-horizontal-rule--thick {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-block-start: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-block-end: 1px solid rgba(255, 255, 255, 0.3);
}
.webform-submission-form .webform-horizontal-rule--thick {
  border-top-width: 4px;
}
[class*=bg--black] .webform-submission-form .webform-horizontal-rule--thick {
  border-top-color: rgba(255, 255, 255, 0.8);
  border-block-start-color: rgba(255, 255, 255, 0.8);
}
[class*=bg--gray] .webform-submission-form .webform-horizontal-rule--glyph:after {
  background-color: #F3F3F3;
}
[class*=bg--gold] .webform-submission-form .webform-horizontal-rule--glyph:after {
  background-color: #BA0C2F;
}
[class*=bg--black] .webform-submission-form .webform-horizontal-rule--glyph:after {
  background-color: #000000;
}

.node-preview-container {
  margin-bottom: 0;
}
.node-preview-container form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.joyride-tip-guide {
  z-index: 550;
}
.joyride-tip-guide a.btn.btn-primary.btn-block {
  color: #212529;
}
.joyride-tip-guide a.btn.btn-primary.btn-block:hover, .joyride-tip-guide a.btn.btn-primary.btn-block:focus {
  color: #fff;
}

.webform-message {
  margin: 0.625rem 0;
}
.webform-message .webform-message__link {
  display: none !important;
}/*# sourceMappingURL=webforms.css.map */
