:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.embedded-entity {
  max-width: 100%;
  margin-bottom: 0;
}
figure .embedded-entity {
  margin-bottom: 0;
}
.embedded-entity figcaption {
  margin-top: 0.625rem;
}

.embedded-entity + p {
  margin-top: 1.05rem !important;
}

.embedded-entity.align-center .field--name-field-media-oembed-video iframe,
.embedded-entity.align-center .field--name-field-media-instagram iframe,
.media.align-center .field--name-field-media-oembed-video iframe,
.media.align-center .field--name-field-media-instagram iframe {
  margin: 0 auto !important;
}

figure.caption {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
}
figure.caption.align-center {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  figure.caption {
    display: table;
  }
}
figure.caption figcaption {
  margin: auto;
  max-width: 90%;
  caption-side: bottom;
  margin-block-start: 0.5rem;
  margin-block-end: 1.5rem;
  contain: inline-size;
  font-family: var(--as-font-sans-serif);
  color: var(--as-color--as-color-dark-gray);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.4;
  width: 100%;
}
figure.caption figcaption p {
  font-size: 95%;
}
@media (min-width: 768px) {
  figure.caption figcaption {
    display: table-caption;
  }
}

.align-left,
figure.align-left,
.align-left.embedded-entity,
.align-left .embedded-entity {
  float: none;
  margin: 0;
}
@media (min-width: 768px) {
  .align-left,
  figure.align-left,
  .align-left.embedded-entity,
  .align-left .embedded-entity {
    margin-right: 1.5rem;
    margin-bottom: 0.5rem;
    float: left;
  }
}

.align-right,
figure.align-right,
.align-right.embedded-entity,
.align-right .embedded-entity {
  float: none;
  margin: 0;
}
@media (min-width: 768px) {
  .align-right,
  figure.align-right,
  .align-right.embedded-entity,
  .align-right .embedded-entity {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    float: right;
  }
}

figure.caption .embedded-entity + figcaption {
  font-size: 90%;
  color: #f4f2ed;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem;
}

@media (min-width: 768px) {
  figure.caption.align-right .embedded-entity + figcaption {
    text-align: right;
  }
}

.alert figure.caption .embedded-entity + figcaption {
  color: #f4f2ed;
}

/*# sourceMappingURL=embedded-entity.css.map */