:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.artsci-card-event.card.card--media-left {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .artsci-card-event.card.card--media-left {
    flex-direction: unset;
  }
}
@media (min-width: 84.375em) {
  .layout--fourcol .artsci-card-event.card.card--media-left, .layout--threecol .artsci-card-event.card.card--media-left {
    padding: 1.5rem;
  }
}

@media (min-width: 768px) {
  .artsci-events .card__row,
  .artsci-card-event .card__row {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    border: none;
    padding: 1.5rem 0;
    background: transparent;
  }
}
@media (min-width: 768px) {
  .artsci-events.image-right .media.media--circle,
  .artsci-card-event.image-right .media.media--circle {
    order: 1;
    margin-left: 15px;
    margin-right: 0;
  }
  .artsci-events.image-right .media.media--circle + .card__body,
  .artsci-card-event.image-right .media.media--circle + .card__body {
    padding-left: 0;
    padding-right: 1.25rem;
  }
}
.artsci-events.hide-details .card__details,
.artsci-card-event.hide-details .card__details {
  display: none;
}

.artsci-events-wrapper.list-container__inner h2 a {
  color: black;
  text-decoration: none;
}

.event-date {
  margin: 10px 0;
  color: #ba0c2f;
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  font-size: inherit;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3.event-details__heading {
  color: #ba0c2f;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.event-details {
  font-size: 1rem;
  line-height: 2;
  text-align: left;
}
.event-details a {
  text-decoration: none;
}
.event-details svg {
  margin-right: 5px;
  color: #ba0c2f;
}

.block-margin__top.block.block-layout-builder.block-field-blocknodeeventfield-event-location,
.block.block-layout-builder.block-field-blocknodeeventfield-is-shared {
  display: none;
}

.add-to-cal.flex {
  align-items: center;
}

.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual {
  text-align: left;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a {
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7;
  letter-spacing: 0.04rem;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a i,
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a span[class*=fa-],
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a svg {
  margin-left: 0.625rem;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a {
  color: #000000;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a i,
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a svg,
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a span[class*=fa-] {
  color: #ba0c2f;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a:hover a, .block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a:focus a {
  filter: brightness(0.75);
  text-decoration: underline;
}
.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual a {
  border: 2px solid #ba0c2f;
}

a.artsci-backtolink {
  color: white;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  text-transform: unset !important;
}
a.artsci-backtolink .artsci-backtolink__icon {
  display: inline-block;
}

.block-artsci-core-backtolink a:hover {
  text-decoration: underline;
}

span.add-to-calendar a {
  color: black;
}

.field--name-field-rsvp-form.field--type-webform,
.block-field-blocknodeeventfield-event-series-link {
  text-align: left;
}
.field--name-field-rsvp-form.field--type-webform a,
.block-field-blocknodeeventfield-event-series-link a {
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7;
  letter-spacing: 0.04rem;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
.field--name-field-rsvp-form.field--type-webform a i,
.field--name-field-rsvp-form.field--type-webform a span[class*=fa-],
.field--name-field-rsvp-form.field--type-webform a svg,
.block-field-blocknodeeventfield-event-series-link a i,
.block-field-blocknodeeventfield-event-series-link a span[class*=fa-],
.block-field-blocknodeeventfield-event-series-link a svg {
  margin-left: 0.625rem;
}
.field--name-field-rsvp-form.field--type-webform a,
.block-field-blocknodeeventfield-event-series-link a {
  color: black;
}
.field--name-field-rsvp-form.field--type-webform a i,
.field--name-field-rsvp-form.field--type-webform a svg,
.field--name-field-rsvp-form.field--type-webform a span[class*=fa-],
.block-field-blocknodeeventfield-event-series-link a i,
.block-field-blocknodeeventfield-event-series-link a svg,
.block-field-blocknodeeventfield-event-series-link a span[class*=fa-] {
  color: #fff;
}
.field--name-field-rsvp-form.field--type-webform a:hover a, .field--name-field-rsvp-form.field--type-webform a:focus a,
.block-field-blocknodeeventfield-event-series-link a:hover a,
.block-field-blocknodeeventfield-event-series-link a:focus a {
  filter: brightness(0.75);
  text-decoration: underline;
}
.field--name-field-rsvp-form.field--type-webform a,
.block-field-blocknodeeventfield-event-series-link a {
  color: white;
}

.page-node-type-event .layout .layout__region--first {
  align-content: center;
}
.page-node-type-event .layout__region-container.card {
  border-left: 2px solid #ba0c2f;
}

/*# sourceMappingURL=event.css.map */