:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.block-inline-blockartsci-image a:focus-visible img {
  outline: 1px solid blue;
}
.block-inline-blockartsci-image a:focus-visible img,
.block-inline-blockartsci-image a:hover img {
  opacity: 0.6;
}
.block-inline-blockartsci-image .media--square img,
.block-inline-blockartsci-image .media--square iframe,
.block-inline-blockartsci-image .media--square video {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-inline-blockartsci-image .media--widescreen img,
.block-inline-blockartsci-image .media--widescreen iframe,
.block-inline-blockartsci-image .media--widescreen video {
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-inline-blockartsci-image .media--widescreen:has([src$=".svg"]) .media__inner {
  background: #fff;
}
.block-inline-blockartsci-image .media--widescreen:has([src$=".svg"]) img[src$=".svg"] {
  -o-object-fit: contain;
     object-fit: contain;
}
.block-inline-blockartsci-image .video-controls {
  position: absolute;
  z-index: 20;
  right: var(--gutter, 2rem);
  bottom: var(--gutter, 2rem);
}
@supports (contain: inline-size) {
  @container column (min-width: 768px) {
    .block-inline-blockartsci-image .video-controls {
      right: var(--mobile-height-gutter, 1rem);
      bottom: var(--mobile-height-gutter, 1rem);
    }
  }
}
@supports not (contain: inline-size) {
  @media (min-width: 768px) {
    .block-inline-blockartsci-image .video-controls {
      right: var(--mobile-height-gutter, 1rem);
      bottom: var(--mobile-height-gutter, 1rem);
    }
  }
}
.block-inline-blockartsci-image .video-btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--color-secondary, #1d1d1b);
  border: 2px solid white;
  border-radius: 50%;
  background: white;
  font-size: 1rem;
  padding: 0;
}
@supports (contain: inline-size) {
  @container column (min-width: 768px) {
    .block-inline-blockartsci-image .video-btn {
      display: block;
    }
  }
}
@supports not (contain: inline-size) {
  @media (min-width: 768px) {
    .block-inline-blockartsci-image .video-btn {
      display: block;
    }
  }
}
.block-inline-blockartsci-image .video-btn::after {
  content: "\f04b";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
}
.block-inline-blockartsci-image .video-btn.video-btn__play::after {
  margin-left: 3px;
}
.block-inline-blockartsci-image .video-btn.video-btn__pause::after {
  content: "\f04c";
}
.block-inline-blockartsci-image .banner--overlay-light:not([class*=bg--]) .video-btn {
  border: 2px solid var(--color-secondary, #1d1d1b);
}
.block-inline-blockartsci-image video {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  overflow: visible;
}
.block-inline-blockartsci-image > .media {
  margin-top: 0;
  text-align: center;
  min-width: 7.7rem;
}
.block-inline-blockartsci-image > .media img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-inline-blockartsci-image > .media iframe {
  border: none;
}
.block-inline-blockartsci-image > .media.media--small.media--circle, .block-inline-blockartsci-image > .media.media--medium.media--circle {
  margin-left: auto;
  margin-right: auto;
}
.block-inline-blockartsci-image > .media.media--small.media--circle img[src$=".svg"], .block-inline-blockartsci-image > .media.media--medium.media--circle img[src$=".svg"] {
  width: revert-layer;
}

@media (min-width: 768px) {
  figure.block-inline-blockartsci-image.caption {
    width: 100%;
    height: -moz-min-content;
    height: min-content;
  }
}
@media (min-width: 768px) {
  figure.block-inline-blockartsci-image.caption.element--cover {
    height: auto;
  }
}

/*# sourceMappingURL=image.css.map */