:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #BA0C2F;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

#search-results form.gsc-search-box {
  max-width: 100%;
}

#search-results .gcsc-branding-clickable,
#search-results .gcsc-more-maybe-branding-root a {
  min-height: 24px;
  display: block;
}

#search-results .gsc-tabHeader.gsc-tabhActive,
#search-results .gsc-refinementHeader.gsc-refinementhActive {
  color: #000;
}

#search-results .gsc-above-wrapper-area {
  max-width: 100%;
}

#search-results .gsc-wrapper {
  max-width: 100%;
}

/* Google Custom Search Engine Results */
#search-results .gsc-control-cse {
  padding: 1em 0;
  border: 0;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
}

#search-results .gsc-search-box {
  padding: 0 15px;
  margin: 0;
  background-color: #f1f1f1;
}

#search-results .gsst_a .gscb_a {
  color: #ccc;
}

#search-results .gsst_a:hover .gscb_a, #search-results .gsst_a:focus .gscb_a {
  color: #000;
}

#search-results .gsc-input {
  padding-left: 0;
}

#search-results .gsc-input .gsc-input-box {
  border-radius: 0px;
}

#search-results .gsc-orderby-container {
  padding-right: 0;
}

/* Do no display the count of search results */
#search-results .gsc-result-info {
  display: none;
}

#search-results .gsc-above-wrapper-area {
  border-bottom: 0px;
}

/* Hide the thumbnail images in search results */
#search-results .gsc-thumbnail {
  display: none;
}

#search-results .gsc-result-info-container, #search-results .gsc-thumbnail-inside, #search-results .gsc-url-top, #search-results .gsc-url-bottom, #search-results .gsc-table-result {
  padding: 0;
}

#search-results .gs-title, #search-results .gs-snippet {
  font-family: "ivystyle-sans", "Calibri", sans-serif !important;
}

#search-results .gs-result .gs-title, #search-results .gs-result .gs-title a, #search-results .gs-title b {
  color: var(--link-color);
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}

#search-results .gs-result .gs-title:hover {
  text-decoration: underline;
}

#search-results .gs-snippet, #search-results .gs-snippet b {
  font-size: 18px;
  line-height: 1.7;
}

#search-results .gs-no-results-result .gs-snippet, #search-results .gs-error-result .gs-snippet {
  border: 2px solid #BA0C2F;
  background-color: #fffae6;
}

#search-results button.gsc-search-button {
  border: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  background-color: #ccc;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-top: 1.05rem;
  padding-right: 1.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.05rem;
}
#search-results button.gsc-search-button i,
#search-results button.gsc-search-button span[class*=fa-],
#search-results button.gsc-search-button svg {
  margin-left: 0.625rem;
}

#search-results .gsc-search-button-v2 svg {
  fill: #000;
  width: 18px;
  height: 18px;
}

#search-results .gsc-webResult .gsc-result {
  border-bottom: 0;
}

#search-results .gsc-webResult .gsc-result {
  padding: 0 0 35px 0;
}

#search-results .gsc-webResult.gsc-result:hover {
  border-color: #fff;
}

#search-results .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}

#search-results .gsc-url-top .gs-visibleUrl, #search-results .gsc-url-bottom .gs-visibleUrl {
  color: #63666A;
  font-size: 25px;
  line-height: 1.5;
}

#search-results .gcsc-find-more-on-google {
  color: var(--link-color);
}

#search-results .gcsc-find-more-on-google-magnifier {
  fill: var(--link-color);
}

#search-results .gsc-results .gsc-cursor-box .gsc-cursor {
  display: inline-block;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
  margin-left: 0;
  border-radius: 0;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div {
  margin: 0;
  display: inline;
  position: relative;
  float: left;
  font-size: 16px;
  padding-top: 1.05rem;
  padding-right: 1.35rem;
  padding-bottom: 1.05rem;
  padding-left: 1.35rem;
  line-height: 1;
  text-decoration: none;
  color: #4F4F4F;
  background-color: transparent;
  border: 1px solid #CACACA;
  margin-left: -1px;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div:hover, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div:focus {
  z-index: 2;
  color: #4F4F4F;
  background-color: #F3F3F3;
  border-color: #CACACA;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page:hover, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page:focus {
  z-index: 3;
  font-weight: normal;
  color: #4F4F4F;
  background-color: #F3F3F3;
  border-color: #CACACA;
  cursor: default;
}

#search-results .gsc-results .gsc-promotion {
  border: none;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table {
  padding: 0;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table .gs-promotion-text-cell {
  margin-left: 0;
  margin-right: 0;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table .gs-promotion-text-cell .gs-visibleUrl-long {
  display: inline-block;
  color: #63666A;
  font-size: 25px;
  line-height: 1.5;
}/*# sourceMappingURL=search-results.css.map */
