:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

#search-results form.gsc-search-box {
  max-width: 100%;
}

#search-results .gcsc-branding-clickable,
#search-results .gcsc-more-maybe-branding-root a {
  min-height: 24px;
  display: block;
}

#search-results .gsc-tabHeader.gsc-tabhActive,
#search-results .gsc-refinementHeader.gsc-refinementhActive {
  color: #000;
}

#search-results .gsc-above-wrapper-area {
  max-width: 100%;
}

#search-results .gsc-wrapper {
  max-width: 100%;
}

/* Google Custom Search Engine Results */
#search-results .gsc-control-cse {
  padding: 1em 0;
  border: 0;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
}

#search-results .gsc-search-box {
  padding: 0 15px;
  margin: 0;
  background-color: #f1f1f1;
}

#search-results .gsst_a .gscb_a {
  color: #ccc;
}

#search-results .gsst_a:hover .gscb_a,
#search-results .gsst_a:focus .gscb_a {
  color: #000000;
}

#search-results .gsc-input {
  padding-left: 0;
}

#search-results .gsc-input .gsc-input-box {
  border-radius: 0px;
}

#search-results .gsc-orderby-container {
  padding-right: 0;
}

/* Do no display the count of search results */
#search-results .gsc-result-info {
  display: none;
}

#search-results .gsc-above-wrapper-area {
  border-bottom: 0px;
}

/* Hide the thumbnail images in search results */
#search-results .gsc-thumbnail {
  display: none;
}

#search-results .gsc-result-info-container,
#search-results .gsc-thumbnail-inside,
#search-results .gsc-url-top,
#search-results .gsc-url-bottom,
#search-results .gsc-table-result {
  padding: 0;
}

#search-results .gs-title,
#search-results .gs-snippet {
  font-family: "ivystyle-sans", "Calibri", sans-serif !important;
}

#search-results .gs-result .gs-title,
#search-results .gs-result .gs-title a,
#search-results .gs-title b {
  color: var(--link-color);
  font-size: 28px;
  line-height: 1.2;
  text-decoration: none;
}

#search-results .gs-result .gs-title:hover {
  text-decoration: underline;
}

#search-results .gs-snippet,
#search-results .gs-snippet b {
  font-size: 18px;
  line-height: 1.7;
}

#search-results .gs-no-results-result .gs-snippet,
#search-results .gs-error-result .gs-snippet {
  border: 2px solid #ba0c2f;
  background-color: #fffae6;
}

#search-results button.gsc-search-button {
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
  text-decoration: none;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.7;
  letter-spacing: 0.04rem;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
#search-results button.gsc-search-button i,
#search-results button.gsc-search-button span[class*=fa-],
#search-results button.gsc-search-button svg {
  margin-left: 0.625rem;
}
#search-results button.gsc-search-button {
  background-color: #ccc;
  border-radius: 0;
  border: 1px solid #ccc;
  padding-top: 1.05rem;
  padding-right: 1.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.05rem;
}

#search-results .gsc-search-button-v2 svg {
  fill: #000000;
  width: 18px;
  height: 18px;
}

#search-results .gsc-webResult .gsc-result {
  border-bottom: 0;
}

#search-results .gsc-webResult .gsc-result {
  padding: 0 0 35px 0;
}

#search-results .gsc-webResult.gsc-result:hover {
  border-color: #fff;
}

#search-results .gsc-search-box-tools .gsc-search-box .gsc-input {
  padding-right: 0;
}

#search-results .gsc-url-top .gs-visibleUrl,
#search-results .gsc-url-bottom .gs-visibleUrl {
  color: #e8e6e1;
  font-size: 25px;
  line-height: 1.5;
}

#search-results .gcsc-find-more-on-google {
  color: var(--link-color);
}

#search-results .gcsc-find-more-on-google-magnifier {
  fill: var(--link-color);
}

#search-results .gsc-results .gsc-cursor-box .gsc-cursor {
  display: inline-block;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 2.5rem;
  margin-left: 0;
  border-radius: 0;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div {
  margin: 0;
  display: inline;
  position: relative;
  float: left;
  font-size: 16px;
  padding-top: 1.05rem;
  padding-right: 1.35rem;
  padding-bottom: 1.05rem;
  padding-left: 1.35rem;
  line-height: 1;
  text-decoration: none;
  color: #4f4f4f;
  background-color: transparent;
  border: 1px solid #e8e6e1;
  margin-left: -1px;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div:hover, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div:focus {
  z-index: 2;
  color: #4f4f4f;
  background-color: #edeae1;
  border-color: #e8e6e1;
}
#search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page:hover, #search-results .gsc-results .gsc-cursor-box .gsc-cursor > div.gsc-cursor-current-page:focus {
  z-index: 3;
  font-weight: normal;
  color: #4f4f4f;
  background-color: #edeae1;
  border-color: #e8e6e1;
  cursor: default;
}

#search-results .gsc-results .gsc-promotion {
  border: none;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table {
  padding: 0;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table .gs-promotion-text-cell {
  margin-left: 0;
  margin-right: 0;
}
#search-results .gsc-results .gsc-promotion .gs-promotion-table .gs-promotion-text-cell .gs-visibleUrl-long {
  display: inline-block;
  color: #e8e6e1;
  font-size: 25px;
  line-height: 1.5;
}

/*# sourceMappingURL=search-results.css.map */