:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #00558C;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, .125);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.search-button {
  position: relative;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70px;
  margin: 0;
  padding: 7px 25px;
  cursor: pointer;
  transition: background 0.15s, border 0.15s, color 0.15s, transform 0.15s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 980px) {
  .search-button {
    position: absolute;
    right: 0;
  }
  .header--horizontal .search-button {
    right: 20px;
  }
}
@media (min-width: 84.375em) {
  .search-button {
    right: 167px;
  }
}
@media (min-width: 980px) {
  .search-button {
    top: 0;
    height: 80px;
    padding: 14px 25px 7px 18px;
  }
  .artsci-bar--narrow .search-button {
    padding: 9px 25px 7px 18px;
  }
}
.search-button:focus, .search-button:hover {
  /* Some exciting button focus styles */
}
.search-button:focus span, .search-button:hover span {
  text-decoration: underline;
}
.search-button:focus:not(:focus-visible) {
  /* Undo all the above focused button styles
   if the button has focus but the browser wouldn't normally
   show default focus styles */
}
.search-button:focus-visible {
  /* Some even *more* exciting button focus styles */
}
.artsci-bar--full .search-button {
  height: 70px;
}
@media (min-width: 980px) {
  .artsci-bar--full .search-button {
    height: 80px;
  }
}
@media (min-width: 980px) {
  .artsci-bar--full.artsci-bar--healthcare .search-button {
    height: 100px;
  }
}
.artsci-bar--narrow .search-button {
  height: 70px;
  background: none;
}
@media (min-width: 980px) {
  .artsci-bar--narrow .search-button {
    top: 0px;
    width: auto;
    height: 90px;
  }
}
.search-button span {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
@media (min-width: 980px) {
  .search-button span {
    position: static !important;
    clip: auto;
    height: auto;
    width: auto;
    overflow: auto;
    overflow: unset;
    position: unset !important;
    display: inline-block;
  }
}
.artsci-bar--home .search-button {
  top: 0;
}
@media (min-width: 768px) {
  .artsci-bar--home .search-button {
    top: 0;
  }
}
.search-button[aria-expanded=true] {
  background: #fff;
}
@media (min-width: 980px) {
  .search-button[aria-expanded=true] {
    background: none;
  }
}
.search-button[aria-expanded=true]:before {
  padding: 0.325rem;
  content: "\f00d";
  color: #000000;
}
@media (min-width: 980px) {
  .search-button[aria-expanded=true]:before {
    color: #000000;
    border-radius: 50%;
    background: #fff;
    line-height: 1.2;
    color: #000000;
  }
}
.artsci-bar--narrow .search-button[aria-expanded=true]:before {
  width: 35px;
  height: 35px;
  color: white;
  border-radius: 50%;
  background: #000000;
}
@media (min-width: 980px) {
  .artsci-bar--full .search-button[aria-expanded=true]:before {
    color: #000000;
  }
}
.search-button:before {
  padding: 0.325rem;
  content: "\f002";
  color: #fff;
  font-size: 1.5rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
@media (min-width: 980px) {
  .search-button:before {
    font-size: 1.2rem;
    color: #000000;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
}

.artsci-bar.horizontal .search-button,
.artsci-bar.mega .search-button {
  right: 0;
}

.search-is-open .search-overlay .artsci-search {
  position: absolute;
  z-index: 1;
  left: 0;
  width: 70%;
  cursor: text;
}
@media (min-width: 980px) {
  .search-is-open .search-overlay .artsci-search {
    width: 73%;
    height: 50px;
    border-bottom: 1px solid #6d5a0e;
  }
}
@media (min-width: 84.375em) {
  .search-is-open .search-overlay .artsci-search {
    width: 73%;
    margin-right: 90px;
  }
}

@media (min-width: 980px) {
  .search-is-open .artsci-bar--full .site-name,
  .search-is-open .artsci-bar__below .site-name {
    display: none;
  }
}

@media (min-width: 980px) {
  .search-is-open .artsci-bar--narrow .artsci-search {
    border-bottom: 1px solid #666;
  }
}

.search-is-open .artsci-bar--full .menu--top {
  display: none;
}

.search-overlay .artsci-search {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 0px;
  cursor: pointer;
  transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
  background: none;
}
.search-overlay .artsci-search button > * {
  pointer-events: none;
}

.search-overlay .artsci-search input[type=text] {
  padding-left: 0;
  text-align: left;
  color: #fff;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  background: none;
  box-shadow: none !important;
  font-size: 1.5rem;
}
@media (min-width: 980px) {
  .search-overlay .artsci-search input[type=text] {
    color: #000000;
  }
  .artsci-bar--narrow .search-overlay .artsci-search input[type=text] {
    border-bottom: none;
  }
}
.search-overlay .artsci-search input[type=text]::-moz-placeholder {
  color: #fff;
  font-size: 1rem;
  padding-top: 10px;
}
.search-overlay .artsci-search input[type=text]::placeholder {
  color: #fff;
  font-size: 1rem;
  padding-top: 10px;
}
@media (min-width: 980px) {
  .search-overlay .artsci-search input[type=text]::-moz-placeholder {
    padding-top: 0;
    color: #000;
    font-size: unset;
  }
  .search-overlay .artsci-search input[type=text]::placeholder {
    padding-top: 0;
    color: #000;
    font-size: unset;
  }
}

.search-overlay .artsci-search {
  margin-top: 7px;
  margin-left: 21px;
  padding: 0;
  padding: 0px;
}
@media (min-width: 980px) {
  .search-overlay .artsci-search {
    margin-top: 18px;
    background: #BA0C2F;
  }
  .artsci-bar--narrow .search-overlay .artsci-search {
    background: transparent;
  }
}
@media (min-width: 980px) {
  .artsci-bar--narrow .search-overlay .artsci-search {
    margin-top: 22px;
    margin-left: 0;
    padding: 0;
  }
}
.artsci-bar--narrow .search-overlay .artsci-search, .artsci-bar--full .search-overlay .artsci-search {
  margin-top: 7px;
}
@media (min-width: 980px) {
  .artsci-bar--narrow .search-overlay .artsci-search, .artsci-bar--full .search-overlay .artsci-search {
    margin-top: 18px;
  }
}
@media (min-width: 980px) {
  .artsci-bar--healthcare.artsci-bar--full .search-overlay .artsci-search {
    margin-top: 30px;
  }
}

.search-overlay .artsci-search [type=submit] {
  padding: 0 10px;
  background: none;
  border: none;
}

.search-overlay[aria-hidden=false] .artsci-search [type=submit] {
  animation: fadeIn 0.5s;
}

.search-overlay .artsci-search [type=submit] span {
  display: none;
}

.search-overlay .artsci-search [type=submit]::before {
  padding: 20px;
  content: " ";
  background: url("../../images/search-white-01.svg");
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}
@media (min-width: 980px) {
  .search-overlay .artsci-search [type=submit]::before {
    background-position: center;
    background: url("../../images/search-01.svg");
  }
}
.artsci-bar--narrow .search-overlay .artsci-search [type=submit]::before {
  background-repeat: no-repeat;
  background-position: center;
}

.search-overlay {
  position: absolute;
  visibility: hidden;
}
@media (min-width: 980px) {
  .search-is-open .search-overlay {
    width: 100%;
  }
}
.search-overlay[aria-hidden=false] {
  z-index: 1;
  visibility: visible;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  transition-timing-function: ease-in-out;
  text-align: left;
}

@media (min-width: 980px) {
  .search-is-open .artsci-bar__title {
    color: #BA0C2F;
  }
}

@media (min-width: 980px) {
  .search-is-open .artsci-bar--narrow .artsci-bar__title {
    color: #fff;
  }
}

.search-wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 980px) {
  .search-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}
@media (min-width: 84.375em) {
  .search-wrapper {
    margin-right: calc(51% - 50vw);
  }
  .horizontal .search-wrapper, .mega .search-wrapper {
    margin-right: 0;
  }
}
.search-is-open .search-wrapper {
  width: 100%;
  flex: 1;
  justify-content: space-between;
}
@media (min-width: 980px) {
  .search-is-open .search-wrapper {
    position: relative;
  }
}
.header--primary .search-wrapper {
  align-items: flex-end;
  flex-direction: column;
}
@media (min-width: 84.375em) {
  .header--primary .search-wrapper {
    align-items: unset;
  }
}
.artsci-bar--narrow .search-wrapper {
  flex-wrap: wrap;
}

.search-is-open .artsci-bar--narrow .search-wrapper {
  align-items: flex-end;
  flex-direction: column;
}

.search-overlay {
  position: absolute;
  top: 0;
  top: -80px;
  left: 0;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  text-align: center;
  background-color: #BA0C2F;
  display: flex;
}
.artsci-bar--narrow .search-overlay {
  background-color: #fff;
}
.search-overlay[aria-hidden=false] {
  z-index: 1;
  top: 0;
  display: contents;
  visibility: visible;
  width: 95%;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  transition: opacity 0.3s;
  transition-timing-function: ease;
  transition-timing-function: ease-in-out;
  text-align: left;
}
@media (min-width: 980px) {
  .search-overlay[aria-hidden=false] {
    display: flex;
  }
}

.search-overlay .artsci-search [type=submit]::before {
  background-image: url("../../images/search-white-01.svg");
  background-repeat: no-repeat;
}
@media (min-width: 980px) {
  .search-overlay .artsci-search [type=submit]::before {
    background-image: url("../../images/search-01.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
  }
}

@media (min-width: 980px) {
  .search-overlay[aria-hidden=false] .region-search {
    width: 100%;
  }
}

.artsci-bar--full .search-overlay .artsci-search,
.artsci-bar--narrow .search-overlay .artsci-search {
  overflow: hidden;
}

@media (min-width: 84.375em) {
  .artsci-bar--full.horizontal.artsci-bar--healthcare .search-button,
  .artsci-bar--full.mega.artsci-bar--healthcare .search-button,
  .artsci-bar--full.toggle.artsci-bar--healthcare .search-button {
    height: 110px;
  }
}
@media (min-width: 84.375em) {
  .artsci-bar--full.horizontal .search-button,
  .artsci-bar--full.mega .search-button,
  .artsci-bar--full.toggle .search-button {
    height: 85px;
    width: 159px;
  }
}

@media (min-width: 84.375em) {
  .artsci-bar--full.toggle .search-wrapper {
    flex: 1;
  }
}
@media (min-width: 980px) {
  .artsci-bar--full.toggle .site-name + .menu--top + .search-wrapper {
    flex: 1;
  }
}

@media (min-width: 980px) {
  .search-is-open .artsci-bar--full.toggle .search-wrapper {
    flex: 1;
  }
}

@media only screen and (min-width: 0) and (max-width: 855px) {
  .search-is-open .artsci-bar--full .menu--top {
    display: block !important;
  }
}
@media (max-width: 980px) {
  .search-is-open .search-overlay .artsci-search {
    width: calc(100% - 111px);
  }
}/*# sourceMappingURL=search-toggle.css.map */
