:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #BA0C2F;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.block-inline-blockartsci-timeline {
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

.timeline {
  transition: all 0.4s ease;
  position: relative;
  display: grid;
  list-style: none;
  margin: 0;
}

.timeline--wrapper {
  position: relative;
  list-style: none;
}
.timeline--wrapper .card .card__details + footer .bttn {
  margin-top: 0;
}
.timeline--wrapper .card header + .card__details + footer .bttn {
  margin-top: 1.25rem;
}
@media (min-width: 980px) {
  .timeline--wrapper .card__details {
    margin: 0;
  }
}
.timeline--wrapper .timeline__icon {
  position: absolute;
  font-size: 25px;
  background: #F3F3F3;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: -79px;
  right: calc(50% - 30px);
  line-height: 0;
}
[class*=bg--gray] .timeline--wrapper .timeline__icon {
  background: #CACACA;
}
@media (min-width: 980px) {
  .timeline--wrapper .timeline__icon {
    top: -30px;
    right: inherit;
  }
}
.timeline--wrapper .timeline__icon .field--name-field-timeline-icon {
  width: 100%;
  text-align: center;
}
.timeline--wrapper .timeline__icon .svg-inline--fa {
  font-size: inherit;
  margin-left: 0;
  margin-right: 0;
}
.timeline--wrapper .timeline__icon-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
}
@media (min-width: 980px) {
  .timeline--wrapper .timeline__icon-wrapper {
    top: 50%;
  }
}

.timeline--wrapper {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (min-width: 980px) {
  .timeline--wrapper {
    width: 50%;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:first-child {
    margin-top: 3rem;
  }
}
.timeline--wrapper:last-child {
  margin-bottom: 3rem;
}
.timeline--wrapper .timeline--card {
  height: 100%;
  margin-top: 3rem;
}
@media (min-width: 980px) {
  .timeline--wrapper .timeline--card {
    margin-top: inherit;
    height: auto;
  }
}
.timeline--wrapper .timeline--card:after {
  bottom: 100%;
  left: 50%;
  margin-left: -12px;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-width: 15px;
}
@media (min-width: 980px) {
  .timeline--wrapper .timeline--card:after {
    top: 50%;
    border-bottom-color: transparent;
    margin-top: -15px;
    margin-left: unset;
    left: unset;
  }
}
.timeline--wrapper .card__subtitle {
  opacity: 1;
}
@media (min-width: 980px) {
  .timeline--wrapper .field--name-field-timeline-date {
    position: absolute;
    bottom: 48%;
    width: 90%;
  }
}
@media (min-width: 84.375em) {
  .timeline--wrapper .field--name-field-timeline-date {
    width: 100%;
  }
}
[class*=bg--black] .timeline--wrapper .field--name-field-timeline-date {
  color: #BA0C2F;
}
[class*=bg--red] .timeline--wrapper .field--name-field-timeline-date {
  color: #000000;
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) {
    margin-left: auto;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) .timeline__icon {
    right: 27px;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date {
    margin-left: -130%;
    text-align: right;
  }
}
@media (min-width: 84.375em) {
  .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date {
    margin-left: -125%;
  }
}
@media (min-width: 84.375em) {
  .page__container--narrow .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date {
    margin-left: -130%;
  }
}
@media (min-width: 84.375em) {
  .page__container--extended .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date {
    margin-left: -122%;
  }
}
@media (min-width: 84.375em) {
  .page__container--full .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date, .page__container--edge .timeline--wrapper:nth-child(odd) .field--name-field-timeline-date {
    margin-left: -120%;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) .timeline__icon-wrapper {
    left: 0;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) .timeline--card {
    margin-left: 3.5rem;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(odd) .timeline--card:after {
    right: 100%;
    border-right-color: #63666A;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) {
    margin-right: auto;
    padding-right: 5px;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) .timeline__icon {
    right: -91px;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) .field--name-field-timeline-date {
    margin-left: 125%;
  }
}
@media (min-width: 84.375em) {
  .timeline--wrapper:nth-child(even) .field--name-field-timeline-date {
    margin-left: 113%;
  }
}
@media (min-width: 84.375em) {
  .page__container--narrow .timeline--wrapper:nth-child(even) .field--name-field-timeline-date {
    margin-left: 118%;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) .timeline__icon-wrapper {
    right: 0;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) .timeline--card {
    margin-right: 3.5rem;
  }
}
@media (min-width: 980px) {
  .timeline--wrapper:nth-child(even) .timeline--card:after {
    left: 100%;
    border-left-color: #63666A;
  }
}

.timeline--card.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.timeline--card.js-scroll.scrolled,
li:first-child .timeline--card.js-scroll {
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .timeline--card.js-scroll {
    opacity: 1;
  }
}
.timeline-line {
  position: absolute;
  left: calc(50% - 3px);
  height: 100%;
}

.timeline-line__mask {
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #fafafa;
  clip: rect(0, auto, auto, 0);
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
}

.timeline-line__fill {
  background-color: #BA0C2F;
  height: 53%;
  width: 100%;
  position: fixed;
  top: 0;
}
[class*=bg--red] .timeline-line__fill {
  background-color: #000000;
}/*# sourceMappingURL=timeline.css.map */
