:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #00558C;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, .125);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.artsci-search label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.artsci-search input[type=text] {
  padding-left: 1.05rem;
  border-bottom: 1px solid #f1f1f1;
  font-size: 1.5rem;
  text-align: center;
}
.artsci-search input[type=text]::-moz-placeholder {
  color: #000000;
}
.artsci-search input[type=text]::placeholder {
  color: #000000;
}
@media (min-width: 980px) {
  .artsci-search input[type=text] {
    text-align: left;
  }
}

.artsci-search [type=submit] {
  width: 100%;
  margin-top: unset;
  background: #ccc;
  line-height: 1;
  text-transform: uppercase;
  font-family: "ivystyle-sans", "Calibri", sans-serif;
}
@media (min-width: 980px) {
  .artsci-search [type=submit] {
    width: auto;
  }
}

.search-overlay .artsci-search [type=submit] {
  width: auto;
}

.artsci-search [type=search] {
  margin: 0;
}

.artsci-search .form-item,
.artsci-search .form-actions {
  margin: 0;
}

.artsci-search > * {
  margin: 0px;
}

.artsci-search > * {
  flex-grow: 1;
}

.artsci-search > input[type=text] {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(66.666% - 0px);
}

.artsci-search [type=text] {
  width: 100%;
  font-size: inherit;
  margin: 0;
}

.artsci-search {
  display: block;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .artsci-search {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 980px) {
  .artsci-search {
    padding: 20px;
    background: #f1f1f1;
  }
}

.search-overlay .artsci-search {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.artsci-search > * {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 980px) {
  .artsci-search > * > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(66.666% - 0px);
  }
}

.artsci-search > * > :last-child {
  display: flex;
}

.artsci-search .search-help-link {
  width: 100%;
}

.container-inline .artsci-search div,
.container-inline .artsci-search label {
  display: flex;
}

.artsci-search-form {
  padding: 5px 19px;
  border-radius: 0;
  border: none;
  background: transparent;
  margin-bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.artsci-search-form [type=search]::-moz-placeholder {
  color: #000000;
}
.artsci-search-form [type=search]::placeholder {
  color: #000000;
}
.form:not(.artsci-search) .artsci-search-form {
  padding: 5px 0;
}
.form:not(.artsci-search) .artsci-search-form [type=submit] {
  padding-top: 14px;
  padding-bottom: 14px;
}
.form:not(.artsci-search) .artsci-search-form [id^=edit-reset] {
  margin-inline-start: 1rem;
}
.artsci-search-form.form:not(.artsci-search) {
  padding: 5px 0;
}
.artsci-search-form.form:not(.artsci-search) .form-item {
  margin-top: 0;
  margin-right: 0;
}
.artsci-search-form.form:not(.artsci-search) .form-actions {
  margin-right: 0;
  margin-top: 0;
}
.artsci-search-form.form:not(.artsci-search) [type=submit],
.artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  padding-top: 13px;
  padding-bottom: 13px;
}
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) [type=submit],
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  color: #fff;
  background: #BA0C2F;
}
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) [type=submit] i,
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) [type=submit] svg,
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) [type=submit] span[class*=fa-],
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] i,
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] svg,
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] span[class*=fa-] {
  color: #fff;
}
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) [type=submit],
.layout__container:not([class*=bg-]) .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  border: 1px solid #BA0C2F;
}
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) [type=submit],
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  color: #fff;
  background: #BA0C2F;
}
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) [type=submit] i,
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) [type=submit] svg,
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) [type=submit] span[class*=fa-],
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] i,
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] svg,
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] span[class*=fa-] {
  color: #fff;
}
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) [type=submit],
[class*=bg--black] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  border: 1px solid #BA0C2F;
}
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) [type=submit], [class*=bg--gold] .artsci-search-form.form:not(.artsci-search) [type=submit], [class*=bg--white] .artsci-search-form.form:not(.artsci-search) [type=submit],
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit],
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit],
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  color: #fff;
  background: #000000;
}
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) [type=submit] i,
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) [type=submit] svg,
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) [type=submit] span[class*=fa-], [class*=bg--gold] .artsci-search-form.form:not(.artsci-search) [type=submit] i,
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) [type=submit] svg,
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) [type=submit] span[class*=fa-], [class*=bg--white] .artsci-search-form.form:not(.artsci-search) [type=submit] i,
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) [type=submit] svg,
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) [type=submit] span[class*=fa-],
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] i,
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] svg,
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] span[class*=fa-],
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] i,
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] svg,
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] span[class*=fa-],
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] i,
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] svg,
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] span[class*=fa-] {
  color: #BA0C2F;
}
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) [type=submit], [class*=bg--gold] .artsci-search-form.form:not(.artsci-search) [type=submit], [class*=bg--white] .artsci-search-form.form:not(.artsci-search) [type=submit],
[class*=bg--gray] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit],
[class*=bg--gold] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit],
[class*=bg--white] .artsci-search-form.form:not(.artsci-search) input[id^=edit-submit] {
  border: 1px solid #000000;
}
.artsci-search-form .js-form-item {
  flex: 1;
}
.artsci-search-form .js-form-item label {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}/*# sourceMappingURL=search.css.map */
