{#
/**
 * @file
 * Template for a generic layout.
 *
 * Available variables:
 * - section_headline: Optional section headline configuration with:
 *   - text: The headline text
 *   - size: The heading element to use (h2, h3, etc.)
 *   - styles: CSS classes for headline styling
 *   - alignment: CSS class for headline alignment
 *   - hide_headline: Boolean to visually hide headline
 */
#}
{%
  set classes = [
  'layout__container',
  'layout',
  layout.template|clean_class,
]
%}

{% set admin = false %}
{% set render_sections = [] %}

{% for region in layout.getRegionNames %}
  {% if content[region] %}
    {% set region_rendered = content[region]|render %}

    {% if region_rendered|striptags('<embed><hr><iframe><img><input>')|trim %}
      {% set render_sections = render_sections|merge({ (region): region_rendered }) %}
    {% endif %}
  {% endif %}

  {% if region_attributes[region] and region[region].storage['data-region'] %}
    {% set admin = true %}
  {% endif %}
{% endfor %}

{# @todo Remove this when it is possible to add the library via preprocess. #}
{% if admin %}
  {{ attach_library('atomic_artsci/admin') }}
{% endif %}

{% if render_sections is not empty %}
  {# Exterior container is necessary so that background colors can go all the way to the edge. #}
  <div{{ attributes.addClass(classes) }}>
    {# Middle container is necessary for having a fixed width container inside a section with a visible background. #}
    <div class="layout__spacing_container">
      {# Section headline if configured #}
      {% if section_headline.text %}
        {% set headline_classes = [
          section_headline.styles|default('headline block__headline'),
          section_headline.alignment|default('headline--left'),
          section_headline.hide_headline ? 'visually-hidden' : '',
          'section__headline',
        ] %}
        {% include '@atomic_artsci/artsci/headline.html.twig' with {
          headline_text: section_headline.text,
          headline_level: section_headline.size|default('h2'),
          headline_class: headline_classes,
        } only %}
      {% endif %}

      {% for region in layout.getRegionNames %}

        {% if render_sections[region] %}
          {# The inner container for each region is necessary for putting space between columns. #}
          <div {{ region_attributes[region].addClass('column-container', 'layout__region', 'layout__region--' ~ region|clean_class) }}>
            {{ render_sections[region] }}
          </div>
        {% endif %}

      {% endfor %}
    </div>
  </div>
{% endif %}
