@use 'sass:map';
@use 'sass:string';

// Placeholders
// Adapted from https://alistapart.com/article/dry-ing-out-your-sass-mixins/
// and https://github.com/at-import/toolkit
$Artsci-Placeholders: () !default;

@function artsci-placeholder-set($id) {
  $unique-id: string.unique-id();
  $Artsci-Placeholders: map.merge($Artsci-Placeholders, ($id: $unique-id)) !global;
  @return $unique-id;
}

@function artsci-placeholder-get($id) {
  @return map.get($Artsci-Placeholders, $id);
}

@mixin artsci-dynamic-extend($id) {
  $placeholder-id: artsci-placeholder-get($id);

  @if $placeholder-id == null {
    $placeholder-id: artsci-placeholder-set($id);
    @at-root %#{$placeholder-id} {
      @content;
    }
  }

  @extend %#{$placeholder-id};
}
