:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.nav--horizontal {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.nav--horizontal .block-superfish > nav {
  overflow: hidden;
}
@media (min-width: 980px) {
  .nav--horizontal .block-superfish > nav {
    overflow: visible;
  }
}

@media (min-width: 980px) {
  .block-superfish .sf-menu.sf-horiz-menu ul {
    background: #f1f1f1 !important;
  }
}

@media (min-width: 980px) {
  .nav--horizontal .block-superfish .menu ul li a {
    color: #000;
    font-weight: 400;
  }
}

.nav--horizontal .page__container,
.nav--horizontal .page__container--mixed {
  margin: 0;
}
@media (min-width: 980px) {
  .nav--horizontal .page__container,
  .nav--horizontal .page__container--mixed {
    position: relative;
    margin: 0 1.25rem;
  }
}
@media (min-width: 84.375em) {
  .nav--horizontal .page__container,
  .nav--horizontal .page__container--mixed {
    margin: 0 auto;
  }
}

.nav--horizontal .sf-accordion.sf-menu {
  padding: 0 1.25rem;
}
.nav--horizontal .sf-accordion.sf-menu.sf-menu.sf-horiz-menu li li a {
  padding: 0.45rem 1.5rem 0.45rem 0rem;
}
.nav--horizontal .sf-accordion.sf-menu .sf-has-clone-parent {
  background: #fff !important;
}

.sf-horizontal li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent::before {
  content: "\f105";
  padding-right: 1.05rem;
}

.sf-horizontal.sf-mega-menu li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent::before {
  content: "";
  padding-right: 0;
}

.sf-horizontal li.sfHover li.sf-depth-2.menuparent .sf-depth-2.menuparent::before {
  position: absolute;
  top: 50%;
  right: 0.3125rem;
  margin-top: -0.4rem;
  font-size: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000000;
}

ul.sf-menu.sf-horiz-menu li li a,
ul.sf-menu.sf-horiz-menu li li span,
ul.sf-menu.sf-horiz-menu li li .nolink {
  font-weight: 400;
}
@media (min-width: 980px) {
  ul.sf-menu.sf-horiz-menu li li a,
  ul.sf-menu.sf-horiz-menu li li span,
  ul.sf-menu.sf-horiz-menu li li .nolink {
    font-size: 1rem;
    padding: 0.45rem 2rem 0.45rem 1rem;
  }
  ul.sf-menu.sf-horiz-menu li li a:hover,
  ul.sf-menu.sf-horiz-menu li li span:hover,
  ul.sf-menu.sf-horiz-menu li li .nolink:hover {
    background: #ba0c2f;
  }
}

@media (min-width: 980px) {
  ul.sf-menu.sf-horiz-menu ul {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

ul.sf-menu.sf-horiz li ul li a:hover {
  color: #ba0c2f;
}

.block-superfish .menu.sf-horiz-menu li.active-trail.menuparent ul:hover {
  background: #ba0c2f;
}
@media (min-width: 980px) {
  .block-superfish .menu.sf-horiz-menu li.active-trail.menuparent ul .is-active {
    background: #ba0c2f;
  }
}

/*# sourceMappingURL=horizontal-menu.css.map */