@use '../abstracts/variables';
@use '../abstracts/_utilities.scss';

.bttn {
  @include utilities.bttn;
  @include utilities.border;

  [class*="bg--"] &,
  [class*="bg--"] [class*="bg--"] & {
    border-color: rgba(0, 0, 0, .425);
    color: variables.$secondary;
  }

  [class*="bg--teal"] & {
    border-color: white;
  }
}
// Options.
.bttn--primary {
  @include utilities.bttn--primary;
  @include utilities.bttn--focus;

  & {
    border-color: variables.$primary;
  }

  [class*="bg--"] [class*="bg--gray"] &,
  [class*="bg--gray"] &,
  [class*="bg--"] [class*="bg--white"] &,
  [class*="bg--white"] & {
    border-color: variables.$primary;
  }

  // &:after {
  //   background-color: variables.$secondary;
  // }
}

.bttn--secondary {
  @include utilities.bttn--secondary;
  @include utilities.bttn--focus;

  &__light {
    @include utilities.bttn--secondary__light;
  }

  [class*="bg--"] &,
  [class*="bg--"] [class*="bg--"] & {
    border-color: rgba(255,255,255,.425);
    color: #fff;
  }
}

.bttn--tertiary {
  @include utilities.bttn--tertiary;
  @include utilities.bttn--focus;
  & {
    background: #fff;
  }
    [class*="bg--teal"] &,
  [class*="bg--"] [class*="bg--teal"] & {
    color: var(--bg-teal);
    border: white;
    svg {
      color: var(--bg-teal);
    }
  }
}

// Modifiers.
.bttn--transparent {
  @include utilities.bttn--transparent;
  @include utilities.bttn--focus;

  [class*="bg--teal"] &,
  [class*="bg--white"] [class*="bg--teal"] & {
    color: #fff;
  }

  i,
  span[class*="fa-"],
  svg {
    [class*="bg--red"] &,
    [class*="bg--white"] [class*="bg--red"] & {
      color: #fff;
    }
  [class*="bg--teal"] &,
  [class*="bg--white"] [class*="bg--teal"] & {
    color: #fff;
  }
    [class*="bg--white"] &,
    [class*="bg--red"] [class*="bg--white"] &,
    [class*="bg--red"] [class*="bg--gray"] & {
      color: variables.$primary;
    }
  }

  [class*="bg--black"] [class*="bg--white"] &,
  [class*="bg--black"] [class*="bg--gray"] &,
  [class*="bg--black"] [class*="bg--red"] & {
    color: variables.$secondary;
  }
}

.bttn.borderless {
  &.bttn--transparent {
    &:focus,
    &:hover {
      text-decoration: underline;
    }
  }

  &.bttn--transparent:after {
    display: none;
  }
}

.bttn--no-text {

  i,
  span[class*="fa-"],
  svg {
    margin-left: 0;
  }
  &:not([class*="bttn--secondary"]) {
    i,
    span[class*="fa-"],
    svg {
      color: variables.$secondary;
      [class*="bg--"] [class*="bg--teal"] &,
      [class*="bg--teal"] &,
      [class*="bg--"] [class*="bg--red"] & {
        color: #fff;
      }
      [class*="bg--"] [class*="bg--white"] &,
      [class*="bg--white"] &,
      [class*="bg--"] [class*="bg--gray"] &,
       {
        color: variables.$secondary;
      }
    }
  }
  &.bttn--transparent.bttn--secondary {
    i,
    span[class*="fa-"],
    svg {
      color: variables.$secondary;
    }
  }
}

.bttn--large {
  padding: 1.5rem 2.5rem 1.7rem;
  // @todo Change this to use css variables, calc the size.
  font-size: 1.45rem;
}
.bttn--small {
  padding: 0.6rem 1rem 0.8rem;
  // @todo Change this to use css variables, calc the size.
  font-size: 1.05rem;
}

.bttn--full {
  display: flex;
}

.bttn--caps {
  text-transform: uppercase;
  font-family: variables.$font-family-caps-bold;
}

.bttn--lowercase {
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
}

.bttn--light-font {
  font-family: variables.$font-family-sans-serif;
  font-weight: variables.$font-weight-bold;
  font-size: 0.9rem;
  letter-spacing: 0.04rem;
  display: inline-block;

  &:focus {
    text-decoration: underline;
  }

  i,
  span[class*="fa-"] {
    font-size: 0.9rem;
  }

  &.bttn--full {
    display: flex;
    height: 100%;
  }
}

.bttn--circle {
  padding: .55rem .7em;
  border-radius: 50%;
  transform: none;
  line-height: 1;

  &:after {
    left: 0;
    top: 0;
    height: 100%;
    // width: 100%;
    border-radius: 50%;
    background-color: transparent;
    transition: border-color .3s ease-in-out;
    transform: none;
    // position: absolute;
  }

  &:hover:after,
  &:focus:after {
    transform: none;
    transition: none;
    border: 3px solid;
    border-color: inherit;
    background-color: transparent;
  }
}


.block-inline-blockartsci-text-area,
.block-field-blocknodepagebody {
  .bttn {
    margin: 0 1rem 1rem 0;

    @include utilities.breakpoint(sm) {
      margin: inherit;
    }

    +.bttn {
      @include utilities.breakpoint(sm) {
        margin: inherit;
      }
    }
  }
}

.bttn--full {
  flex-basis: 100%;
  height: min-content;
}

.more-link {
  margin-top: variables.$mobile-height-gutter;
}

.block.bttn--row {
  flex-direction: column;
  display: flex;
  gap: 1.5rem;

  // Fixed modifier to avoid buttons stacking on mobile.
  &.bttn--row--horizontal {
    flex-direction: row;
  }

  @include utilities.breakpoint(sm) {
    display: block;
  }

  &.bttn--full {

    @include utilities.breakpoint(sm) {
      flex-direction: row;
      display: flex;
      gap: 1.5rem;
    }

    a.bttn {
      width: 100%;
    }
    .bttn {
      margin: 0;
      & + .bttn {
        margin: 0;
      }
    }
  }

  .bttn {

    @include utilities.breakpoint(sm) {
      margin: 0 1.5rem 1.5rem 0;
    }

    +.bttn {
      @include utilities.breakpoint(sm) {
        margin: 0 1.5rem 1.5rem 0;
      }
    }

    &.bttn--full {
      margin: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.layout--twocol,
.layout--threecol,
.layout--fourcol,
.layout--page--left-sidebar.layout--has-sidebar {
  .block.bttn--row.bttn--full {
    flex-direction: column;
  }
}
