@use '../abstracts/variables.scss';
@use '../abstracts/_utilities.scss';

.artsci-card-event.card.card--media-left {
  margin-bottom: 0;

  @include utilities.breakpoint(sm) {
    flex-direction: unset;
  }

  .layout--fourcol &,
  .layout--threecol & {
    @include utilities.breakpoint(page-container) {
      padding: 1.5rem;
    }
  }
}

.artsci-events,
.artsci-card-event {
  .card__row {
    @include utilities.breakpoint(sm) {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      border: none;
      padding: 1.5rem 0;
      background: transparent;
    }
  }

  // Image position modifier
  &.image-right .media.media--circle {
    @include utilities.breakpoint(sm) {
      order: 1;
      margin-left: 15px;
      margin-right: 0;

      + .card__body {
        padding-left: 0;
        padding-right: 1.25rem;
      }
    }
  }

  // Hide details modifier
  &.hide-details .card__details {
    display: none;
  }
}

.artsci-events-wrapper.list-container__inner h2 a {
  color: black;
  text-decoration: none;
}

.event-date {
  margin: 10px 0;
  color: variables.$primary;
  font-family: var(--font-family-sans-serif);
  font-weight: 600;
  font-size: inherit;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

h3.event-details__heading {
  color: variables.$primary;
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

// .event-details__date {
//   font-family: 'IvyPresto Headline', serif;
//   font-weight: 400;
//   font-size: 24px;
//   line-height: 140%;
//   letter-spacing: 0;
// }

.event-details {
  font-size: 1rem;
  line-height: 2;
  text-align: left;

  a {
    text-decoration: none;
  }

  svg {
    margin-right: 5px;
    color: variables.$primary;
  }
}

// Hide duplicate location block
.block-margin__top.block.block-layout-builder.block-field-blocknodeeventfield-event-location,
.block.block-layout-builder.block-field-blocknodeeventfield-is-shared {
  display: none;
}

.add-to-cal.flex {
  align-items: center;
}

.block.block-layout-builder.block-field-blocknodeeventfield-event-virtual {
  text-align: left;

  a {
    @include utilities.bttn;
    @include utilities.bttn--tertiary;
    @include utilities.bttn--focus;
    border: 2px solid variables.$primary;
  }
}
a.artsci-backtolink {
  color: white;
  font-family: var(--font-family-sans-serif);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  text-transform: unset !important;

  .artsci-backtolink__icon {
    display: inline-block;
  }
}

.block-artsci-core-backtolink a:hover {
  text-decoration: underline;
}

span.add-to-calendar a {
  color: black;
}
.field--name-field-rsvp-form.field--type-webform,
.block-field-blocknodeeventfield-event-series-link {
  text-align: left;

  a {
    @include utilities.bttn;
    @include utilities.bttn--primary;
    @include utilities.bttn--focus;
    color: white;
  }
}
.page-node-type-event {
  .layout .layout__region--first {
    align-content: center;
  }
  .layout__region-container.card {
    border-left: 2px solid variables.$primary;
  }
}
