@use '../abstracts/variables.scss';
@use '../abstracts/_utilities.scss';

.block-inline-blockartsci-image {
  img {
    width: 100%;
  }
  a:focus-visible img {
    outline: 1px solid blue;
  }
  a:focus-visible img,
  a:hover img {
    opacity: .6;
  }
  .video-controls {
    position: absolute;
    z-index: 2;
    right: var(--gutter, 2rem);
    bottom: var(--gutter, 2rem);

    @include utilities.container-query {
      right: var(--mobile-height-gutter, 1rem);
      bottom: var(--mobile-height-gutter, 1rem);
    }
  }

  .video-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--color-secondary, #1d1d1b);
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0;

    @include utilities.container-query() {
      display: block;
    }

    &::after {
      content: "\f04b"; // play icon
      @include utilities.fas();
      font-size: 1rem;
    }

    &.video-btn__play::after {
      margin-left: 3px; // optical centering for play triangle
    }

    &.video-btn__pause::after {
      content: "\f04c"; // pause icon
    }
  }

  // Video element styling
  video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    overflow: visible;
  }
}

figure.block-inline-blockartsci-image.caption {
  @include utilities.breakpoint(sm) {
    width: 100%;
    height: min-content;
  }
  &.element--cover {
    @include utilities.breakpoint(sm) {
      height: auto;
    }
  }
}
