@use '../abstracts/variables';
@use '../abstracts/_utilities.scss';

// Masonry
.block-inline-blockartsci-image-gallery.image-gallery--masonry .artsci-image-gallery {
  display: block;
  column-count: 2;
  gap: 1.5rem;
  @include utilities.breakpoint(sm) {
    column-count: 3;
  }
  @include utilities.breakpoint(md) {
    column-count: 4;
  }
  a.photoswipe {
    flex: none;
    display: flex;
    margin: 0 0 1.5rem;
    img {
      object-fit: unset;
      aspect-ratio: unset;
      height: auto;
    }
  }
}

// Use :has to provide better visual fallback for 1 or 2 items.
.artsci-image-gallery {
  // One item.
  &:has(> .media:only-child),
  // Two items.
  &:has(> .media:first-child + .media:last-child) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

// image-gallery--auto-fit.
.artsci-image-gallery {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  .video-controls {
    position: absolute;
    z-index: 2;
    right: var(--gutter, 2rem);
    bottom: var(--gutter, 2rem);

    @include utilities.container-query {
      right: var(--mobile-height-gutter, 1rem);
      bottom: var(--mobile-height-gutter, 1rem);
    }
  }

  .video-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: var(--color-secondary, #1d1d1b);
    border: 2px solid white;
    border-radius: 50%;
    background: white;
    font-size: 1rem;
    padding: 0;

    @include utilities.container-query() {
      display: block;
    }

    &::after {
      content: "\f04b"; // play icon
      @include utilities.fas();
      font-size: 1rem;
    }

    &.video-btn__play::after {
      margin-left: 3px; // optical centering for play triangle
    }

    &.video-btn__pause::after {
      content: "\f04c"; // pause icon
    }
  }

  // Video element styling
  video {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    overflow: visible;
  }
}

.artsci-image-gallery img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.media--no-crop .artsci-image-gallery img {
  object-fit: unset;
  aspect-ratio: unset;
  width: 100%;
}

.media--square .artsci-image-gallery img {
  aspect-ratio: 1 / 1;
}

.media--widescreen .artsci-image-gallery img {
  aspect-ratio: 16 / 9;
}

// Single page photoswipe image with thumbnails.
.artsci-image-gallery--single {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.artsci-image-gallery--single  .field__item {
  @include utilities.breakpoint(sm) {
    flex: 1;
  }
  &:first-child {
    flex: 0 0 100%;
  }
  // Set a max width for smaller images.
  &:not(:first-child) {
    @include utilities.breakpoint(sm) {
      max-width: calc(15% - 10px);
      img {
        object-fit: cover;
        aspect-ratio: 1 / 1;
      }
    }
  }
}

.artsci-image-gallery--single img {
  width: 100%;
  height: auto;
  display: block;
}

.artsci-image-gallery--single {
  .field__item:first-child:last-child a {
   position: relative;
   float: right;
   text-align: right;
    &:after {
     @include utilities.fas();
     content: "\f065";
     font-size: 1.3rem;
     padding-top: 1.5rem;
    }
  }
}
