:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.layout--onecol .layout__region {
  width: 100%;
}
@media (min-width: 768px) {
  .layout--onecol .layout__region .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--grid.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--grid.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 768px) {
  .layout--onecol .layout__region .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--list.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 58.125em) {
  .layout--onecol .layout__region .list-container--list.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}

.layout--onecol {
  display: flex;
}
.layout--onecol .layout__spacing_container {
  flex-basis: 100%;
  z-index: 2;
}

/*# sourceMappingURL=onecol.css.map */