:root {
  font-size: 16px;
  --bg-teal: #367B88;
  --bg-red: #BA0C2F;
  --bg-gray: #EDEAE1;
  --artsci-gold: #BA0C2F;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-gold);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #63666A;
  --link-color: #BA0C2F;
  --artsci-light: #F3F3F3;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #CACACA;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.layout--onecol .layout__region {
  display: flex;
  flex-wrap: wrap;
}

.container.container--title,
.sidebar-invisible.layout--has-sidebar .container.container--title {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.sidebar-invisible.layout--has-sidebar .container.container--title {
  margin-bottom: 0;
}

.layout--has-sidebar .container.container--title {
  padding: 0;
  margin-bottom: 1.5rem;
}

.layout--no-sidebar .container.container--title {
  margin-bottom: 1.5rem;
}

.content__container .layout--has-sidebar .layout__spacing_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1.25rem;
  position: relative;
}
@media (min-width: 84.375em) {
  .content__container .layout--has-sidebar .layout__spacing_container {
    max-width: 81.875em;
    margin: 0 auto;
  }
}

.content__container .page__container--edge.layout--has-sidebar.sidebar-invisible .layout__spacing_container {
  max-width: 100%;
}

.content__container .layout__container.layout--no-sidebar,
.content__container .layout__container.layout--has-sidebar.sidebar-invisible {
  margin-bottom: 0;
}
.content__container .layout__container.layout--no-sidebar .layout__spacing_container,
.content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__spacing_container {
  display: grid;
}
.content__container .layout__container.layout--no-sidebar .layout__region--content,
.content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content {
  display: grid;
}
@media (min-width: 980px) and (min-width: 768px) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--grid.grid--threecol--33-34-33 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--grid.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--grid.grid--fourcol--25 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--grid.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--list.grid--threecol--33-34-33 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--list.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .content__container .layout__container.layout--no-sidebar .layout__region--content .list-container--list.grid--fourcol--25 .list-container__inner,
  .content__container .layout__container.layout--has-sidebar.sidebar-invisible .layout__region--content .list-container--list.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}

.layout--has-sidebar .layout__region--sidebar {
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 980px) {
  .layout--has-sidebar .layout__region--sidebar {
    flex: 0 1 24.25%;
    margin-right: 3%;
  }
}
.layout--has-sidebar.sidebar-invisible .layout__region--sidebar {
  display: none;
}
@media (min-width: 980px) {
  .layout--has-sidebar.sidebar-invisible .layout__region--content {
    flex: 0 1 100%;
  }
}

.layout--has-sidebar .layout__region--content {
  min-width: 0;
  flex-basis: 100%;
}
@media (min-width: 980px) {
  .layout--has-sidebar .layout__region--content {
    flex: 0 1 72.75%;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--has-sidebar .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--grid.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--grid.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--has-sidebar .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--list.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--has-sidebar .layout__region--content .list-container--list.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}/*# sourceMappingURL=page--left-sidebar.css.map */
