:root {
  --font-family-sans-serif: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-serif: 'ivypresto-headline', 'Georgia', serif;
  --font-family-serif-alt: 'ivypresto-headline', 'Georgia', serif;
  --font-family-caps: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-family-caps-light: 'ivystyle-sans', 'Calibri', sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-medium-bold: 600;
  --font-weight-bold: 500;
  --font-weight-heavy: 900;
  --content-font-size: 1.2rem;
  --font-family-caps-bold: 'ivystyle-sans', 'Calibri', sans-serif;
  font-size: 16px;
  --bg--teal: #007d8a;
  --bg--red: #ba0c2f;
  --bg--red-gradient: linear-gradient(90deg, #cb2237 0%, #971b2f 100%);
  --bg--gray: #f4f2ed;
  --bg--dark-gray: #eae8e4;
  --artsci-red: #ba0c2f;
  --artsci-black: #000000;
  --brand-primary: var(--artsci-red);
  --brand-secondary: var(--artsci-black);
  --artsci-gray-cool: #f4f2ed;
  --link-color: #ba0c2f;
  --artsci-light: #edeae1;
  --artsci-gray-mid: #9a9a9a;
  --artsci-gray: #737373;
  --artsci-gray-light: #cacaca;
  --transparent-border: rgb(0, 0, 0, 0);
  --space-lg-width-gutter: 3rem;
  --space-md-width-gutter: 2rem;
  --space-sm-width-gutter: 1.25rem;
}

.layout--twocol .layout__region--main,
.layout--twocol .layout__region-container {
  display: grid;
}
.layout--twocol .layout__region--main.card,
.layout--twocol .layout__region-container.card {
  display: block;
}
@media (min-width: 768px) {
  .layout--twocol .layout__spacing_container {
    display: grid;
    grid-template-rows: auto;
    gap: 3rem;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--first {
    grid-area: 1/1/6/2;
  }
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--second {
    grid-area: 1/2/6/4;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--second .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--second .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--second .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--33-67] .layout__spacing_container .layout__region--second .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
  }
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--first,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--main {
    grid-area: 1/1/6/3;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--first .list-container--grid.grid--twocol--50-50 .list-container__inner,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--main .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--first .list-container--grid.grid--twocol--50-50 .list-container__inner,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--main .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--first .list-container--list.grid--twocol--50-50 .list-container__inner,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--main .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--first .list-container--list.grid--twocol--50-50 .list-container__inner,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--main .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region--second,
  .layout--twocol[class*=twocol--67-33] .layout__spacing_container .layout__region-container {
    grid-area: 1/3/6/4;
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--first {
    grid-area: 1/1/6/2;
  }
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second {
    grid-area: 1/2/6/5;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--grid.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--grid.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--list.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--25-75] .layout__spacing_container .layout__region--second .list-container--list.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0;
  }
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first {
    grid-area: 1/1/6/4;
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--grid.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--grid.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--grid.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--grid.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) and (min-width: 768px) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--list.grid--twocol--50-50 .list-container__inner {
    display: grid;
    align-items: baseline;
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--list.grid--twocol--50-50 .list-container__inner {
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--list.grid--threecol--33-34-33 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(29.74%, 1fr));
  }
}
@media screen and (min-width: 980px) and (min-width: 58.125em) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--first .list-container--list.grid--fourcol--25 .list-container__inner {
    display: grid;
    align-items: baseline;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--75-25] .layout__spacing_container .layout__region--second {
    grid-area: 1/4/6/5;
  }
}
@media (min-width: 980px) {
  .layout--twocol[class*=twocol--50-50] .layout__spacing_container {
    -moz-column-gap: var(--space-lg-width-gutter);
         column-gap: var(--space-lg-width-gutter);
    row-gap: 1.25rem;
    grid-template-columns: repeat(auto-fill, minmax(46.7%, 1fr));
  }
}
.layout--twocol.column-spacing__removed .layout__spacing_container {
  gap: 0;
  -moz-column-gap: 0;
       column-gap: 0;
}

.layout__region details.set[open] {
  order: -1;
}

/*# sourceMappingURL=twocol.css.map */